*.iml
*.ipr
*.iws
.idea
.vscode
.classpath
.factorypath
.metadata
.project
.recommenders
.settings
*.jar
.DS_Store
target
build
bin
out
dependency-reduced-pom.xml
.flattened-pom.xml
build.log
*.log
dump.rdb
activemq-data
*.sw?
*~
.#*
.*.md.html
.attach_pid*
interpolated*.xml
MANIFEST.MF
_site/
overridedb.*
lib/
secrets.yml
.env
data
*station
sequence.txt